* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --background: linear-gradient(260deg, #6a9eec, #65c0d3);
  --shadow-light: hsla(0, 0%, 0%, 0.1);
  --shadow: hsla(0, 0%, 0%, 0.5);
  --light: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 26%);

  /* font-family: "Inter", sans-serif; */
  /* font-family: "JetBrains Mono", monospace; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Rubik", sans-serif;
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: 'Space Mono', monospace; */
  /* font-family: 'Trispace', sans-serif; */
  /* font-family: "Work Sans", sans-serif; */
}

body {
  background: var(--background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.active {
  transform: scale(1.5);
  transform-origin: center;
}

.container {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: var(--light);
  color: var(--text);
  filter: drop-shadow(5px 10px 20px var(--shadow));
}
.home,
.notification,
.message {
  display: flex;
  padding: 2rem;
}
.home-title,
.notification-title,
.message-title {
  padding-left: 1.5rem;
  color: var(--text);
  font-weight: 1rem;
  cursor: pointer;
}
/* testing */
/* .home-title:hover {
  text-decoration-line: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.3rem;
  text-decoration-skip-ink: auto;
} */

/* fine alignment */
.home-title {
  margin-top: 0.625rem;
}
.notification-title {
  margin-top: 0.5rem;
}
.message-title {
  margin-top: 0.5625rem;
}

/* allow animation overflow */
svg {
  overflow: visible;
}

.zoom-btn {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  background: transparent;
  color: white;
  padding: 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  filter: drop-shadow(0px 2px 2px var(--shadow));
}
